<p id="notice"><%= notice %></p>

<h1>Tagihans</h1>

<table>
  <thead>
    <tr>
      <th>Jumlah</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tagihans.each do |tagihan| %>
      <tr>
        <td><%= tagihan.jumlah %></td>
        <td><%= tagihan.user %></td>
        <td><%= tagihan.status %></td>
        <td><%= link_to 'Show', tagihan %></td>
        <td><%= link_to 'Edit', edit_tagihan_path(tagihan) %></td>
        <td><%= link_to 'Destroy', tagihan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tagihan', new_tagihan_path %>
